#### 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### 02. Importing Datasets

In [2]:
# Path
path = r'C:\Users\monik\Desktop\Career Foundry\Course\Data Immersion\4 Python\07.2025 Instacart Basket Analysis - Monika Kaniewska'

In [3]:
# df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [4]:
# df_ords_prior
df_ords_prior =pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#### 03. Checking dimensions

In [5]:
# Checking dimensions
df_ords.head()

,order_id,user_id,purchase_sequence,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [6]:
df_ords.shape

(3421083, 6)

In [7]:
# Checking dimensions
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

#### 04. Merge

In [11]:
# Merge the dataframe with your df_ords dataframe.
df_merged_large = df_ords.merge(df_ords_prior, on='order_id', indicator=True)

In [12]:
df_merged_large.head()

,order_id,user_id,purchase_sequence,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [13]:
df_merged_large.shape

(32434489, 10)

In [11]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [12]:
# Exporting the merge in a pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))