#### Importing libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### Importing datasets

In [5]:
path = r'C:\Users\monik\Desktop\Career Foundry\Course\Data Immersion\4 Python\07.2025 Instacart Basket Analysis - Monika Kaniewska'

In [8]:
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_updated_19_08_2025.pkl'))

In [6]:
df_cust = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customer_cleaned.pkl'))

#### Combining datasets

In [9]:
df_ords_prods_cust = df_ords_prods.merge(df_cust, on = ['user_id'])

In [10]:
df_ords_prods_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customer.pkl'))

In [11]:
df_ords_prods_cust.head()

,order_id,user_id,purchase_sequence,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,order frequency,first_name,surname,gender,state,age,date_joined,n_dependants,family_status,income
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2539329,1,1,2,8,NaN,14084,2,0,Organic Unsweetened Vanilla Almond Milk,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,2539329,1,1,2,8,NaN,12427,3,0,Original Beef Jerky,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2539329,1,1,2,8,NaN,26088,4,0,Aged White Cheddar Popcorn,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,2539329,1,1,2,8,NaN,26405,5,0,XL Pick-A-Size Paper Towel Rolls,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [12]:
df_ords_prods_cust.shape

(32404859, 32)